<launch>  
  <node pkg="miivii_gmsl_camera" exec="miivii_gmsl_camera_node" name="miivii_gmsl_camera_node" output="screen">  
    <!-- 所有相机频率 -->
    <param name="sync_freq" value="30"/>
    <!-- 所有相机发布频率 -->
    <param name="publish_rate" value="20"/>
    <param name="sync_camera_number" value="8"/>
    <!-- 相机的topicname为 miivii_gmsl/camera_info0 ~ miivii_gmsl/camera_info7 -->
    <!-- 相机0 -->
    <param name="video0.active" value="true"/>
    <param name="video0.camera_fmt" value="UYVY" />
    <param name="video0.camera_res" value="1920x1080"/>
    <param name="video0.output_fmt" value="BGRA32"/>
    <param name="video0.output_res" value="640x360"/>
    <param name="video0.params_file" value=""/>
    <!-- 相机1 -->
    <param name="video1.active" value="false"/>
    <param name="video1.camera_fmt" value="UYVY" />
    <param name="video1.camera_res" value="1920x1080"/>
    <param name="video1.output_fmt" value="BGRA32"/>
    <param name="video1.output_res" value="640x360"/>
    <param name="video1.params_file" value=""/>
    <!-- 相机2 -->
    <param name="video2.active" value="false"/>
    <param name="video2.camera_fmt" value="UYVY" />
    <param name="video2.camera_res" value="1920x1080"/>
    <param name="video2.output_fmt" value="BGRA32"/>
    <param name="video2.output_res" value="640x360"/>
    <param name="video2.params_file" value=""/>
    <!-- 相机3 -->
    <param name="video3.active" value="false"/>
    <param name="video3.camera_fmt" value="UYVY" />
    <param name="video3.camera_res" value="1920x1080"/>
    <param name="video3.output_fmt" value="BGRA32"/>
    <param name="video3.output_res" value="640x360"/>
    <param name="video3.params_file" value=""/>
    <!-- 相机4 -->
    <param name="video4.active" value="false"/>
    <param name="video4.camera_fmt" value="UYVY" />
    <param name="video4.camera_res" value="1920x1080"/>
    <param name="video4.output_fmt" value="BGRA32"/>
    <param name="video4.output_res" value="640x360"/>
    <param name="video4.params_file" value=""/>
    <!-- 相机5 -->
    <param name="video5.active" value="false"/>
    <param name="video5.camera_fmt" value="UYVY" />
    <param name="video5.camera_res" value="1920x1080"/>
    <param name="video5.output_fmt" value="BGRA32"/>
    <param name="video5.output_res" value="640x360"/>
    <param name="video5.params_file" value=""/>
    <!-- 相机6 -->
    <param name="video6.active" value="false"/>
    <param name="video6.camera_fmt" value="UYVY" />
    <param name="video6.camera_res" value="1920x1080"/>
    <param name="video6.output_fmt" value="BGRA32"/>
    <param name="video6.output_res" value="640x360"/>
    <param name="video6.params_file" value=""/>
    <!-- 相机7 -->
    <param name="video7.active" value="false"/>
    <param name="video7.camera_fmt" value="UYVY" />
    <param name="video7.camera_res" value="1920x1080"/>
    <param name="video7.output_fmt" value="BGRA32"/>
    <param name="video7.output_res" value="640x360"/>
    <param name="video7.params_file" value=""/>
  </node>
  <!-- 是否开启rviz  -->
  <node pkg="rviz2" exec="rviz2" name="rviz2" output="screen" args="-d $(find-pkg-share miivii_gmsl_camera)/config/single.rviz"/>
</launch>

